<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h1><%= `${user.email}'s profile` %></h1>

      <hr>

      <% if (posts && posts.length > 0) { %>
        <h2>Latest Posts</h2>

        <ul class="list-unstyled">
        
        <% posts.forEach((post) => { %>
          <li>
            <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>">
              <%= post.title %>
            </a>
          </li>
        <% }) %>

        </ul>

        <hr>
      <% } %>

      
      <% if (comments && comments.length > 0) { %>
        <h2>Latest Comments</h2>

        <ul class="list-unstyled">

        <% comments.forEach((comment, index) => { %>
          <li>
            <span>Post: </span>
            <a href="/topics/<%= comment.Post.topicId %>/posts/<%= comment.Post.id %>">
              <%= comment.Post.title %>
            </a>
            <p>Comment: <%= comment.body %></p>
          </li>

          <% if (index < comments.length - 1) { %>
            <hr>
          <% } %>
        <% }) %>
        
        </ul>
      
        <hr>
      <% } %>

      <% if (favoritedPosts && favoritedPosts.length > 0) { %>
        <h2>Favorited Posts</h2>

        <ul class="list-unstyled">

        <% favoritedPosts.forEach((post) => { %>
          <li>
            <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>">
              <%= post.title %>
            </a>
          </li>
        <% }) %>

        </ul>
      <% } %>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>